<div >
    <header class="container-xxl">
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Eleventh navbar example">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> 
                <span class="logo-lg">
                    <img src="assets/images/VERMEG_Logo.png" alt="" height="22">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item px-2">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Find a intership</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link " >about us</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link " >Contact</a>
                  </li>
              </ul>
              <div class="col-md-3 text-end">
                <button (click)="navigateToLogin()" type="button" class="btn btn-subtle-primary mx-2">Login</button>
                <button (click)="navigateToRegister()" type="button" class="btn btn-outline-primary mx-2">Sign-up</button>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main>

        <div id="myCarousel" class="carousel slide mb-6 d-none d-sm-block" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <!-- <svg class="bd-placeholder-img" width="100%" height="70vh" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
              <img src="assets/images/slide1.jpg" class="d-block w-100" alt="Slide 1">
              <div class="container">
                <div class="carousel-caption text-start slide1 w-50">
                  <h1>Example headline.</h1>
                  <p class="text-primary">Welcome to the Vermeg company internship website! We are delighted to welcome you to our professional environment,
                     where innovation and excellence are at the core of our activities. 
                     As a leader in the field of IT solutions, Vermeg offers a multitude of exciting 
                     internship opportunities for computer science students.
                      Whether you are interested in software development, project management, 
                      data analysis, or any other branch of IT, we have programs tailored to your skills and ambitions.
                       Join us to gain enriching experience, work on stimulating projects, 
                       and contribute to shaping the future of financial technology. 
                        our internship offers and get ready for an unforgettable professional experience at Vermeg!</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <!-- <svg class="bd-placeholder-img" width="100%" height="70vh" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
              <img src="assets/images/slide2.png" class="d-block w-100" alt="Slide 2">
              <div class="container">
                <div class="carousel-caption slide2 w-50">
                  <h1>Another example headline.</h1>
                  <p class="text-primary">Some representative placeholder content for the second slide of the carousel.</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <!-- <svg class="bd-placeholder-img" width="100%" height="70vh" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
              <img src="assets/images/slide3.png" class="d-block w-100" alt="Slide 3">
              <div class="container">
                <div class="carousel-caption text-start slide3 w-25">
                  <h1>One more for good measure.</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis magnam, dolor maxime dignissimos accusantium, possimus iusto qui iure minus enim aliquid?</p>
                  <p><a class="btn btn-lg btn-primary" href="#">Browse </a></p>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
      
        
      </main>
    

    

   
  </div>